{% extends 'base.html' %}

{% block content %}


<aside class="sidebar">
    <h4 class="sidebar__title">
        Categories
    </h4>

    <div class="hashtags">
        <a href="#" class="hashtag">#science</a>
        <a href="#" class="hashtag">#blockchain</a>
        <a href="#" class="hashtag">#technology</a>
        <a href="#" class="hashtag">#ukraine</a>
        <a href="#" class="hashtag">#education</a>
        <a href="#" class="hashtag">#grammys</a>
        <a href="#" class="hashtag">#javascript</a>
    </div>
</aside>

<section class="content">
    <div class="posts">
        <div class="post">
            <img src="../static/img/profile.jpg" alt="Profile Img" class="profile-img">
            <div class="post-info">
                <div class="post__header">
                    <span class="post__author">@username </span>
                    <span class="post__date">Mar 10</span>
                </div>

                <h3 class="post__title">Post Title Heading</h3>
                <p class="post__content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia vero
                    sapiente consequatur rerum tempore nostrum delectus hic officia!
                    Accusantium, quia ducimus. Molestiae facere deleniti recusandae, nemo
                    tenetur obcaecati eaque unde!
                </p>
                <div class="post__footer">

                    <a href="#" class="post__category">#technology</a>
                    <p class="post__comments">3 Comments</p>
                </div>


            </div>

        </div>

        <div class="post">
            <img src="../static/img/profile.jpg" alt="Profile Img" class="profile-img">
            <div class="post-info">
                <div class="post__header">
                    <span class="post__author">@username </span>
                    <span class="post__date">Mar 10</span>
                </div>

                <h3 class="post__title">Post Title Heading</h3>
                <p class="post__content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia vero
                    sapiente consequatur rerum tempore nostrum delectus hic officia!
                    Accusantium, quia ducimus. Molestiae facere deleniti recusandae, nemo
                    tenetur obcaecati eaque unde!
                </p>
                <div class="post__footer">

                    <a href="#" class="post__category">#technology</a>
                    <p class="post__comments">3 Comments</p>
                </div>


            </div>

        </div>

        <div class="post">
            <img src="../static/img/profile.jpg" alt="Profile Img" class="profile-img">
            <div class="post-info">
                <div class="post__header">
                    <span class="post__author">@username </span>
                    <span class="post__date">Mar 10</span>
                </div>

                <h3 class="post__title">Post Title Heading</h3>
                <p class="post__content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia vero
                    sapiente consequatur rerum tempore nostrum delectus hic officia!
                    Accusantium, quia ducimus. Molestiae facere deleniti recusandae, nemo
                    tenetur obcaecati eaque unde!
                </p>
                <div class="post__footer">

                    <a href="#" class="post__category">#technology</a>
                    <p class="post__comments">3 Comments</p>
                </div>


            </div>

        </div>

        <div class="post">
            <img src="../static/img/profile.jpg" alt="Profile Img" class="profile-img">
            <div class="post-info">
                <div class="post__header">
                    <span class="post__author">@username </span>
                    <span class="post__date">Mar 10</span>
                </div>

                <h3 class="post__title">Post Title Heading</h3>
                <p class="post__content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia vero
                    sapiente consequatur rerum tempore nostrum delectus hic officia!
                    Accusantium, quia ducimus. Molestiae facere deleniti recusandae, nemo
                    tenetur obcaecati eaque unde!
                </p>
                <div class="post__footer">

                    <a href="#" class="post__category">#technology</a>
                    <p class="post__comments">3 Comments</p>
                </div>


            </div>

        </div>

        <div class="post">
            <img src="../static/img/profile.jpg" alt="Profile Img" class="profile-img">
            <div class="post-info">
                <div class="post__header">
                    <span class="post__author">@username </span>
                    <span class="post__date">Mar 10</span>
                </div>

                <h3 class="post__title">Post Title Heading</h3>
                <p class="post__content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia vero
                    sapiente consequatur rerum tempore nostrum delectus hic officia!
                    Accusantium, quia ducimus. Molestiae facere deleniti recusandae, nemo
                    tenetur obcaecati eaque unde!
                </p>
                <div class="post__footer">

                    <a href="#" class="post__category">#technology</a>
                    <p class="post__comments">3 Comments</p>
                </div>


            </div>

        </div>


    </div>
</section>

<aside class="quote">
    <p class="quote__content">
        Lorem ipsum dolor sit amet,adipisicing elit. Asperiores sint eligendi
        illo obcaecati nihil nulla a nobis sapiente, expedita provident,
        cupiditate eveniet iste nemo! Temporibus unde id expedita.
    </p>

    <span class="quote__author">~ Jack Bauer</span>

</aside>


{% endblock %}