{% extends 'base.html' %}


{% import "macros.html" as macro with context %}

{% block content %}


<aside class="sidebar">
    {% include 'sidebar.html' %}
</aside>

<section class="content">


    {% if blogs %}

    {{macro.displayBlogs(blogs)}}

    {% else %}
    <p>No blogs </p>

    {% endif %}


</section>

<aside class="quote">
    <p class="quote__content">
        Lorem ipsum dolor sit amet,adipisicing elit. Asperiores sint eligendi
        illo obcaecati nihil nulla a nobis sapiente, expedita provident,
        cupiditate eveniet iste nemo! Temporibus unde id expedita.
    </p>

    <span class="quote__author">~ Jack Bauer</span>

</aside>


{% endblock %}