{% macro displayBlogs(blogs) %}

<div class="posts">
    {% for blog in blogs %}
    <div class="post">

        <img src='../static/img/{{blog.user.profile_pic}}' )}} alt="Profile Img"
            class="profile-img">

        <div class="post-info">
            <div class="post__header">
                <span class="post__author">@{{blog.user.username}} </span>
                <span class="post__date">{{blog.date_posted.strftime('%b %d')}} </span>
            </div>

            <h3 class="post__title">{{blog.title}} </h3>
            <p class="post__content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia vero
                sapiente consequatur rerum tempore nostrum delectus hic officia!
                Accusantium, quia ducimus. Molestiae facere deleniti recusandae, nemo
                tenetur obcaecati eaque unde!
            </p>
            <div class="post__footer">

                <a href="#" class="post__category">#{{blog.category}} </a>
                <p class="post__comments">3 Comments</p>
            </div>


        </div>

    </div>

    {% endfor %}
</div>


{% endmacro %}