{% extends 'base.html' %}

{% block content %}

<aside class="sidebar">
    {% include 'sidebar.html' %}
</aside>
<section class="content">

    <form action="/update_blog/{{blog.id}} " method="POST" class="blog-form">

        <label for="title">Blog title</label>
        <input type="text" name="title" placeholder="Blog title" value="{{blog.title}} ">

        <label for="content">Enter content</label>


        <textarea name="content" type="text" cols="30"
            rows="10">{{blog.content}}</textarea>


        <input type="text" name="category" placeholder="Enter category"
            value="{{blog.category}} ">

        <button type="submit" class="btn">Update</button>


    </form>

</section>
<aside class="quote">
    <p class="quote__content">
        {{quote.quote}}
    </p>

    <span class="quote__author">~ {{quote.author}} </span>

</aside>
{% endblock %}