{% extends 'base.html' %}

{% block content %}

<aside class="sidebar">
    {% include 'sidebar.html' %}

    <div class="profile-image">

        <img src="../static/img/{{current_user.profile_pic}}" alt="Profile Img"
            class="user-profile__img">

        <img src="{{url_for('static', filename='img/edit-pen.svg')}} " alt="Edit"
            class="edit-icon--profile__img">
    </div>


</aside>


<section class="content">


    <div class="box blur-bg">
        <form action="/upload_profile_pic" method="post" enctype="multipart/form-data">
            <input required type="file" name="file">
            <input type="submit" value="Upload">
        </form>

    </div>


</section>
{% endblock %}